$purple: rgb(71, 46, 214);
$grey: rgb(71, 71, 71);

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
// navbar
nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  .navlink ul {
    display: flex;
    list-style: none;
    li {
      margin-left: 20px;
      a {
        text-decoration: none;
        color: $grey;
        padding-bottom: 5px;
      }
      a:hover {
        border-bottom: 1px solid $grey;
      }
    }
  }
  .sign {
    margin-top: -8px;
    .light {
      border: none;
      background-color: rgba(255, 255, 255, 0);
    }
    .purple {
      border: none;
      border-radius: 3px;
      background-color: $purple;
      color: white;
      padding: 8px 20px;
    }
  }
  .toggle-button {
    display: none;
  }
}
// navbar end

// header
header {
  margin: 40px 0;
  display: flex;
  height: 100vh;
  gap: 40px;
  .text {
    margin-top: 70px;

    .reviews {
      display: flex;
      ul {
        display: flex;
        margin-left: -30px;
        li {
          list-style: none;
        }
      }
      p {
        margin: 3px 20px;
      }
    }
    .desk {
      h1 {
        font-size: 60px;
      }
      p {
        color: $grey;
      }
      .start {
        border: none;
        background-color: $purple;
        border-radius: 3px;
        padding: 8px 20px;
        color: white;
      }
      a {
        margin-left: 20px;
        color: $purple;
        text-decoration: none;
        border-bottom: 2px solid $purple;
        padding-bottom: 1px;
      }
    }
    .green {
      margin: 10px -30px;
      ul {
        display: flex;
        li {
          display: flex;
          margin-right: 20px;
          p {
            margin: 20px 0 20px 10px;
          }
        }
      }
    }
  }
  .pic {
    width: 500px;

    .picture {
      width: 500px;
    }
  }
}

// main
main {
  .section-1 {
    width: 600px;
  }
  .section-2 {
    display: flex;
    margin: 50px 0;
    .hitam {
      font-weight: bold;
      margin-top: 10px;
    }
  }
  .section-3 {
    border-radius: 6px;
    margin: 30px 0;
    height: 405px;
    background-color: $purple;
    color: white;
    display: flex;
    .left {
      margin: 110px 30px;
      .btn-white {
        background-color: white;
        color: $purple;
        border: none;
        border-radius: 3px;
        padding: 5px 20px;
      }
    }
    .right {
      margin: 30px;
      width: 500px;
      img {
        width: 500px;
      }
    }
  }
}

// section
section {
  margin: 100px 0;
  display: flex;
  gap: 20px;
  .card-1 {
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 20px;
    .avatar-1 {
      display: flex;
      .name {
        margin-left: 20px;
        h6 {
          margin: 3px 0;
          color: $purple;
          font-weight: bold;
        }
      }
    }
    p {
      margin: 10px 0;
    }
    .btn-card {
      margin-top: 10px;
      background-color: white;
      border-radius: 4px;
      padding: 10px 70px;
      border: 0.5px solid grey;
      color: $purple;
      font-weight: bold;
    }
    .btn-card:hover {
      color: white;
      background-color: $purple;
    }
  }
  .card-2 {
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 20px;
    .avatar-2 {
      display: flex;
      .name {
        margin-left: 20px;
        h6 {
          margin: 3px 0;
          color: $purple;
          font-weight: bold;
        }
      }
    }
    p {
      margin: 10px 0;
    }
    .btn-card {
      margin-top: 10px;
      background-color: white;
      border-radius: 4px;
      padding: 10px 60px;
      border: 0.5px solid grey;
      color: $purple;
      font-weight: bold;
    }
    .btn-card:hover {
      color: white;
      background-color: $purple;
    }
  }
  .card-3 {
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 20px;
    .avatar-3 {
      display: flex;
      .name {
        margin-left: 20px;
        h6 {
          margin: 3px 0;
          color: $purple;
          font-weight: bold;
        }
      }
    }
    p {
      margin: 10px 0;
    }
    .btn-card {
      margin-top: 10px;
      background-color: white;
      border-radius: 4px;
      padding: 10px 60px;
      border: 0.5px solid grey;
      color: $purple;
      font-weight: bold;
    }
    .btn-card:hover {
      color: white;
      background-color: $purple;
    }
  }
}

// footer
footer {
  span {
    color: black;
    font-weight: bold;
  }
  p {
    margin-top: 10px;
  }
  .satu {
    ul {
      margin-left: -31px;
      li {
        list-style: none;
        margin-top: 10px;
        a {
          text-decoration: none;
          color: $grey;
          cursor: pointer;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
  .dua {
    ul {
      margin-left: -31px;
      li {
        list-style: none;
        margin-top: 10px;
        a {
          text-decoration: none;
          color: $grey;
          cursor: pointer;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
  .tiga {
    ul {
      margin-left: -31px;
      li {
        list-style: none;
        margin-top: 10px;
        a {
          text-decoration: none;
          color: $grey;
          cursor: pointer;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
  .empat {
    ul {
      margin-left: -31px;
      li {
        list-style: none;
        margin-top: 10px;
        a {
          text-decoration: none;
          color: $grey;
          cursor: pointer;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 900px;
    .text {
      order: 2;
      align-items: center;
    }
  }

  // main
  main {
    margin-top: 200px;
    .section-2 {
      flex-direction: column;
    }
    .section-3 {
      flex-direction: column;
      height: 672px;
      .left {
        margin-top: 50px;
      }
      .right {
        img {
          width: 450px;
        }
      }
    }
  }
  section {
    flex-direction: column;
    .card-1 {
      .btn-card {
        align-self: center;
      }
    }
  }
}
// mobile
@media screen and (max-width: 576px) {
  // navbar
  nav {
    .navlink {
      display: none;
      ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: -10px;
        align-items: center;
        background-color: white;
        width: 100vw;
        li {
          margin-bottom: 10px;
        }
      }
    }
    .navlink.active {
      display: flex;
    }
    .sign {
      position: absolute;
      top: 630px;
      left: 200px;
    }
    .toggle-button {
      display: block;
    }
  }
  // main
  main {
    .section-1 {
      padding: 30px;
    }
    .section-2 {
      padding: 30px;
    }
    .section-3 {
      padding: 15px;
      .right {
        img {
          width: 400px;
        }
      }
    }
  }
  section {
    flex-direction: column;
  }
}
