body {
  overflow-x: hidden;
}

nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
nav .navlink ul {
  display: flex;
  list-style: none;
}
nav .navlink ul li {
  margin-left: 20px;
}
nav .navlink ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  padding-bottom: 5px;
}
nav .navlink ul li a:hover {
  border-bottom: 1px solid rgb(71, 71, 71);
}
nav .sign {
  margin-top: -8px;
}
nav .sign .light {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
nav .sign .purple {
  border: none;
  border-radius: 3px;
  background-color: rgb(71, 46, 214);
  color: white;
  padding: 8px 20px;
}
nav .toggle-button {
  display: none;
}

header {
  margin: 40px 0;
  display: flex;
  height: 100vh;
  gap: 40px;
}
header .text {
  margin-top: 70px;
}
header .text .reviews {
  display: flex;
}
header .text .reviews ul {
  display: flex;
  margin-left: -30px;
}
header .text .reviews ul li {
  list-style: none;
}
header .text .reviews p {
  margin: 3px 20px;
}
header .text .desk h1 {
  font-size: 60px;
}
header .text .desk p {
  color: rgb(71, 71, 71);
}
header .text .desk .start {
  border: none;
  background-color: rgb(71, 46, 214);
  border-radius: 3px;
  padding: 8px 20px;
  color: white;
}
header .text .desk a {
  margin-left: 20px;
  color: rgb(71, 46, 214);
  text-decoration: none;
  border-bottom: 2px solid rgb(71, 46, 214);
  padding-bottom: 1px;
}
header .text .green {
  margin: 10px -30px;
}
header .text .green ul {
  display: flex;
}
header .text .green ul li {
  display: flex;
  margin-right: 20px;
}
header .text .green ul li p {
  margin: 20px 0 20px 10px;
}
header .pic {
  width: 500px;
}
header .pic .picture {
  width: 500px;
}

main .section-1 {
  width: 600px;
}
main .section-2 {
  display: flex;
  margin: 50px 0;
}
main .section-2 .hitam {
  font-weight: bold;
  margin-top: 10px;
}
main .section-3 {
  border-radius: 6px;
  margin: 30px 0;
  height: 405px;
  background-color: rgb(71, 46, 214);
  color: white;
  display: flex;
}
main .section-3 .left {
  margin: 110px 30px;
}
main .section-3 .left .btn-white {
  background-color: white;
  color: rgb(71, 46, 214);
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
}
main .section-3 .right {
  margin: 30px;
  width: 500px;
}
main .section-3 .right img {
  width: 500px;
}

section {
  margin: 100px 0;
  display: flex;
  gap: 20px;
}
section .card-1 {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 20px;
}
section .card-1 .avatar-1 {
  display: flex;
}
section .card-1 .avatar-1 .name {
  margin-left: 20px;
}
section .card-1 .avatar-1 .name h6 {
  margin: 3px 0;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-1 p {
  margin: 10px 0;
}
section .card-1 .btn-card {
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px 80px;
  border: 0.5px solid grey;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-1 .btn-card:hover {
  color: white;
  background-color: rgb(71, 46, 214);
}
section .card-2 {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 20px;
}
section .card-2 .avatar-2 {
  display: flex;
}
section .card-2 .avatar-2 .name {
  margin-left: 20px;
}
section .card-2 .avatar-2 .name h6 {
  margin: 3px 0;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-2 p {
  margin: 10px 0;
}
section .card-2 .btn-card {
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px 70px;
  border: 0.5px solid grey;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-2 .btn-card:hover {
  color: white;
  background-color: rgb(71, 46, 214);
}
section .card-3 {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 20px;
}
section .card-3 .avatar-3 {
  display: flex;
}
section .card-3 .avatar-3 .name {
  margin-left: 20px;
}
section .card-3 .avatar-3 .name h6 {
  margin: 3px 0;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-3 p {
  margin: 10px 0;
}
section .card-3 .btn-card {
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px 70px;
  border: 0.5px solid grey;
  color: rgb(71, 46, 214);
  font-weight: bold;
}
section .card-3 .btn-card:hover {
  color: white;
  background-color: rgb(71, 46, 214);
}

footer span {
  color: black;
  font-weight: bold;
}
footer p {
  margin-top: 10px;
}
footer .satu ul {
  margin-left: -31px;
}
footer .satu ul li {
  list-style: none;
  margin-top: 10px;
}
footer .satu ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
footer .satu ul li a:hover {
  color: black;
}
footer .dua ul {
  margin-left: -31px;
}
footer .dua ul li {
  list-style: none;
  margin-top: 10px;
}
footer .dua ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
footer .dua ul li a:hover {
  color: black;
}
footer .tiga ul {
  margin-left: -31px;
}
footer .tiga ul li {
  list-style: none;
  margin-top: 10px;
}
footer .tiga ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
footer .tiga ul li a:hover {
  color: black;
}
footer .empat ul {
  margin-left: -31px;
}
footer .empat ul li {
  list-style: none;
  margin-top: 10px;
}
footer .empat ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
footer .empat ul li a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 900px;
  }
  header .text {
    order: 2;
    align-items: center;
  }
  main {
    margin-top: 200px;
  }
  main .section-2 {
    flex-direction: column;
  }
  main .section-3 {
    flex-direction: column;
    height: 672px;
  }
  main .section-3 .left {
    margin-top: 50px;
  }
  main .section-3 .right img {
    width: 450px;
  }
  section {
    flex-direction: column;
  }
  section .card-1 .btn-card {
    align-self: center;
  }
}
@media screen and (max-width: 576px) {
  nav .navlink {
    display: none;
  }
  nav .navlink ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -10px;
    align-items: center;
    background-color: white;
    width: 100vw;
  }
  nav .navlink ul li {
    margin-bottom: 10px;
  }
  nav .navlink.active {
    display: flex;
  }
  nav .sign {
    position: absolute;
    top: 630px;
    left: 200px;
  }
  nav .toggle-button {
    display: block;
  }
  main .section-1 {
    padding: 30px;
  }
  main .section-2 {
    padding: 30px;
  }
  main .section-3 {
    padding: 15px;
  }
  main .section-3 .right img {
    width: 400px;
  }
  section {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */